/* ------トップページ------ */

/* メニューバー */
#top-menu{
  width: 100%;
  height: 70px;
  /* background-color:#2A2A2A; */
  padding-top: 5px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

ul{
  display: flex; 
}

li{
  list-style: none;
}

a{
  display: block;
  text-decoration: none;
  color: rgb(59, 179, 49);
  margin-right: 35px;
}

a.link {
  padding-bottom: 5px;
  position: relative;
}

a.link::before {
  background: #9aff1e;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

a.link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

#top-page{
  position: relative;
}

.top-visual{
  width: 100%;
  height: 100%;
  order: 10;
}

/* トップ画像の流れるメッセージ */
.text {
  display: flex;
  position: absolute;
  top: 25%;
  left: 15%;
  /* align-items: center; */
  font-family: "Roboto Mono", monospace;
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
}

.text.is-active {
  --opacity: 1;
}

.char {
  display: inline-block;
  opacity: var(--opacity, 0);
  transition: opacity 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: calc(0.05s * var(--char-index));
  color: #000;
}

/* メッセージ */
.top-message{
  font-size: 100px;
}

/* 下から上に移動しながらフェードイン */
.fadeInUp {
  opacity: 0;
  transform: translateY(100px);
}

@keyframes fadeIn {
  0% {
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

/* フェードインさせるクラス */
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* body */

body{
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  height: auto;
}

#work{
  padding-left: 5%;
  padding-right: 5%;
}

#about{
  padding-left: 5%;
  padding-right: 5%;
}

body{
  margin: 0%;
}



/* ------work------- */

/* 線のアニメーション部分 */
.dli-arrow-down{
  position: relative;
  padding-right: 10%;
}
.dli-arrow-down::before {
  animation: scroll 2s infinite;
  background-color: #000;
  bottom: -115px;
  content: "";
  height: 300px;
  margin: auto;
  position: absolute;
  width: 2px;
  z-index: 2;
}

/* 線のアニメーション */
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
}

#section-arrows{
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.section-text{
  position: relative;
  right: 10%;
}

.work-brock-1{
  display: flex;
  justify-content: space-between;
  padding-top: 20%;
}

.work-photo-1{
  border-radius: 200px;
  margin-left: 10%;
  margin-right: 10%;
}

.work-text-1{
  text-align: center;
  margin: 5%;
  padding-left: 10%;
  padding-right: 5%;
  flex-wrap: wrap;
}

.square{
  width: 1000px;
  height: 300px;
  background-color: #000000;
}

.work-brock-2{
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}

.work-text-2{
  text-align: center;
  margin: 5%;
  padding-right: 10%;
  padding-left: 5%;
}

.work-photo-2{
  border-radius: 200px;
  margin-right: 10%;
  margin-left: 10%;
}

.work-brock-3{
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}

.work-photo-3{
  border-radius: 200px;
  margin-left: 10%;
  margin-right: 10%;
}

.work-text-3{
  text-align: center;
  margin: 5%;
  padding-left: 10%;
  padding-right: 5%;
}

/* メッセージスライダー */
#message-slider{
  padding-top: 15%;
  text-align: center;
  font-size: 96px;
  overflow: hidden;
  width: 100%;
  white-space:nowrap;
  
}

#message-slider > ul{
  animation: flowing 25s linear infinite;
  transform:translateX(100%);
  padding-inline: 0;
  margin-inline: 0;
  gap: 0;
  opacity: 30%;
  display: flex;
  list-style: none;
}

#message-slider > ul li{
  display: inline-block;
  padding: 0 0.5em 0 0;
}
  @keyframes flowing {
  0% { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}

/* ------------------ */
/* ------about------- */
/* ------------------ */


/* 自己紹介画像 */
.about-me{
  position: relative;
  left: 10%;
  border-radius: 200px;
  margin-right: 10%;
}

/* テキスト 配置*/
#about{
  display: flex;
  padding-top: 15%;
}

/* タイトル */
#about-title{
  font-size: 32px;
}

/* メッセージ */
#about-massage{
  font-size: large;
}

/* メッセージ 配置 */
#about-text{
  margin: 10%;
  text-align: center1;
}

/* フォトリスト カルーセル*/
#photo-list{
  padding-top: 20%;
  padding-bottom: 10%;
}

.photo-left{
  padding-bottom: 5%;
}

/* ------footer------ */

#footer-background > div{
  width: 700px;
  height: 700px;
  background-color: #D1EED4;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  order: 10;
}

#footer-text{
  position: relative;
  bottom: 400px;
  left: 600px;
  display: block;
}

#footer-text1{
  position: relative;
  bottom: 120px;
  left: 50px;
  font-size: 36px;
}
#footer-text2{
  position: relative;
  bottom: 100px;
  font-size: 64px;

}
#footer-text3{
  position: relative;
  bottom: 70px;
  font-size: 20px;
  right: 20px;
}
#footer-text4{
  position: relative;
  bottom: 100px;
  left: 150px;
  font-size: 36px;

}