/* ------トップページ------ */

/* メニューバー */
#top-menu{
  width: 100%;
  height: 70px;
  /* background-color:rgb(67, 169, 54); */
  padding-top: 5px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

ul{
  display: flex; 
}

li{
  list-style: none;
}

a{
  display: block;
  text-decoration: none;
  color: rgb(59, 179, 49);
  margin-right: 35px;
  
}

a.link {
  padding-bottom: 5px;
  position: relative;
}
a.link::before {
  background: #9aff1e;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
a.link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* メッセージ */
#top-message{
  position: relative;
  bottom: 620px;
  left: 200px;
  font-size: 100px;
}

#top-visual{
  width: 100%;
  order: 10;
}

/* body */
#work{
  padding-left: 5%;
  padding-right: 5%;
}
#about{
  padding-left: 5%;
  padding-right: 5%;
}
body{
  margin: 0%;
}

/* ------work------- */

.dli-arrow-down {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 0.1em;
  height: 1em;
  background: currentColor;
  padding-bottom: 15%;
  right: 125px;
}

.dli-arrow-down::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border: 0.1em solid currentColor;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  position: absolute;
  left: 50%;
  bottom: -0.05em;
  box-sizing: border-box;
}


#section-arrows{
  display: flex;
  justify-content: center;
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
}

.section-text{
  position: relative;
  right: 200px;
  top: 50px;
}

.work-brock-left{
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}

.work-photo-left{
  border-radius: 200px;
}

.work-text-left{
  margin: 5%;
}

.work-brock-right{
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}

.work-text-right{
  margin: 5%;
}

.work-photo-right{
  border-radius: 200px;
}

/* メッセージスライダー */
#message-slider{
  padding-top: 15%;
  font-size: 96px;
}


/* ------------------ */
/* ------about------- */
/* ------------------ */


/* 自己紹介画像 */
#about-me{
  border-radius: 200px;
}

/* テキスト 配置*/
#about{
  display: flex;
  padding-top: 15%;
}

/* タイトル */
#about-title{
  font-size: 32px;
}

/* メッセージ */
#about-massage{
  font-size: large;
}

/* メッセージ 配置 */
#about-text{
  margin: 10%;
}

/* フォトリスト カルーセル*/
#photo-list{
  padding-top: 20%;
  padding-bottom: 10%;
}

.photo-left{
  padding-bottom: 5%;
}

/* ------footer------ */

#footer-background > div{
  width: 700px;
  height: 700px;
  background-color: #D1EED4;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  order: 10;
}

#footer-text{
  position: relative;
  bottom: 400px;
  left: 600px;
  display: block;
}

#footer-text1{
  position: relative;
  bottom: 120px;
  left: 50px;
  font-size: 36px;
}
#footer-text2{
  position: relative;
  bottom: 100px;
  font-size: 64px;

}
#footer-text3{
  position: relative;
  bottom: 70px;
  font-size: 20px;
  right: 20px;
}
#footer-text4{
  position: relative;
  bottom: 100px;
  left: 150px;
  font-size: 36px;

}