/* 初期設定を解除する */
body{
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ececec;
}

h3{
  margin: 0;
}

h4{
  margin: 0;
}

/* サイドバーの設定 */
#side-menu{
  width: 12%;
  height: 100%;
  background-color:#d5d5d5;
  padding-top: 10%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

li{
  list-style: none;
  font-size: 24px;
}

a{
  display: block;
  text-decoration: none;
  color: rgb(42, 42, 42);
}

a.link {
  padding-bottom: 30%;
  position: relative;
}

a.link::before {
  background: #cabd09;
  content: '';
  width: 70%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 50%;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

a.link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* トップ写真の設定 */
#top-visual >img{
  width: 100%;
}


/* キャッチコピーの設定 */
#catch-copy{
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

#catch-copy2{
  padding-left: 20%;
  margin-right: 5%;
  font-size: 36px;
}

#catch-message{
  padding-right: 10%;
}

/* workの設定 */
#work-title{
  position: relative;
}

#works{
  padding-left: 15%;
  padding-bottom: 5%;
  font-size: 48px;
}

.hr1 {
  position: absolute;
  top: 30%;
  left: 30%;
  border-top: 3px solid #000;
  width: 60%;
}


#work-list{
  text-align: center;
}

#work-items{
  position: relative;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
}

#work-items > a{
  padding-right: 10%;
  padding-bottom: 5%;
}



/* aboutの設定 */

#about-title{
  position: relative;
}

#about{
  padding-left: 15%;
  padding-bottom: 5%;
  font-size: 48px;
}

#about-block{
  display: flex;
  position: relative;
  left: 25%;
}


#about-name{
  position: absolute;
  left: 30%;
  bottom: 75%;
  font-size: 28px;
}

#about-message{
  position: absolute;
  left: 30%;
  top: 40%;
}

#skill-title{
  position: relative;
}

#skill{
  padding-left: 15%;
  padding-bottom: 5%;
  font-size: 48px;
}

#hr2 {
  position: absolute;
  border-top: 3px solid #000;
  width: 65%;
  top: 5%;
  left: 25%;
}

#skill-image{
  position: relative;
  left: 18%;
  width: 75%;
}

#contact-block{
  position: relative;
}

#contact{
  font-size: 48px;
}

#mail{
  font-size: 30px;
}

#contact-block{
  padding-left: 15%;
  padding-bottom: 5%;
  background-color: #b9ad0f;
}